.topPanel {
    height: 80px;
    width: 100%;
    border-style: solid;
    border-color: beige;
}



.topBattons {
    height:50px;
    width: 30px;
    
}

.regButt {
    position: absolute;
    right: 10px;
    top: 38px;
}
.signButt{
    position: absolute;
    right: 10px;
    top: 45px;
}